body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  background-color: #0d4172;
}

.nav-link {
  line-height: 45px;
  color: white !important;
}

@media (min-width: 768px) {
  .container {
    max-width: 1440px;
    padding-right: 5vw;
    padding-left: 5vw;
  }
}

@media (min-width: 1470px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
